@model Tasks.WebClient.Models.ViewModels.MyTaskViewModel

@{
    string cssClass = "";
    switch (Model.Priority)
    {
        case Tasks.Models.PriorityType.Low:
            cssClass = "btn-info";
            break;
        case Tasks.Models.PriorityType.Medium:
            cssClass = "btn-primary";
            break;
        case Tasks.Models.PriorityType.Important:
            cssClass = "btn-danger";
            break;
        default:
            break;
    }

}

<div class="col-md-4 tasks-collapse">

    <a class="btn @cssClass btn-block" data-toggle="collapse" href="#collapse_@Model.ID" aria-expanded="false" aria-controls="collapseExample">
        <span>@Model.Title</span>
        <span> @Model.DateToEnd.ToString("dd/MM/yyyy")</span>
    </a>
    <div class="collapse" id="collapse_@Model.ID">
        <div class="well">
            <div>
                <p>Priority: @Model.Priority</p>
            </div>
            <div>
                @if (Model.Description != null)
                {
                    <p>Description: @Model.Description</p>
                }
               
            </div>

            <div class="text-nowrap">
                @if (Model.Subtasks.ToList().Count > 0)
                {
                    @Html.Partial("_SubTaskPartial", Model.Subtasks)
                }
               
            </div>

            @Html.Partial("_ActionButtonsMyTaks" , Model)

        </div>
    </div>
</div>



@section Scripts{


    @Scripts.Render("~/bundles/jquerval");
}