@using Tasks.WebClient.Models.ViewModels

@model IQueryable<MyTaskViewModelHomeIndex>

@foreach (var task in Model)
{
    <div class="col-md-4">
        <h2>@task.Title</h2>
        <div>
            <p>Preority: @task.Preority</p>
        </div>
        <div>
            <p>Description: @task.Description</p>
        </div>
        <div>
            @if (task.DateToEnd == null)
            {
                <p>Every day should perform this task! </p>
            }
            else
            {
                <p>Date to end: @task.DateToEnd</p>
            }
        </div>

        <div>
            <a href="@Url.Action("Delete", "Tasks", new { task.ID })" class="btn btn-primary ">
                <span>Delete</span>
            </a>
        </div>
    
</div>

}
