@model Tasks.WebClient.Models.InputModels.MyTaskInputModel


@{
    ViewBag.Title = "AddTask";
}

<h2>Add new Task</h2>

@using (Html.BeginForm("Create", "Tasks", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Priority, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(x => x.Priority, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.DateToEnd, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="text" name="DateToEnd" id="DateToEnd" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Add new Task" class="btn btn-primary" />
        </div>
    </div>
}


@section Scripts {
    <script>

        console.log($('#DateToEnd'));
        $('#DateToEnd').datepicker({ dateFormat: 'dd/mm/yy' }).val();

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
